{% extends "base.html" %}
{% load static %}

{% block title %} 
All Posts
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" />
{% endblock %}

{% block content %}
<section class="top-section">
  <h1>Projects & Events</h1>
</section>

<section class="middle-section">
  <ul>
    {% for post in all_posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>


{% endblock %}
